In [1]:
import mysql.connector

In [2]:
from mysql.connector import connect
from getpass import getpass

In [3]:
# connecting to SQL
db = connect(
            host="localhost",
            user = "root",
            passwd = getpass("Enter password: "),
            database = "sakila")

Enter password: ········

In [5]:
# cursor is an instance used to execute sql statements on python
cursor = db.cursor()
cursor.execute("SHOW DATABASES")

In [6]:
#fetching data
databases = cursor.fetchall()
print(databases)

[('bank',), ('bank_demo',), ('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',)]

#### Ex. 1 Check the number of rentals for each customer for May

In [7]:
#defining query
query = "select r.customer_id, count(r.rental_id) as no_of_rentals, c.first_name, c.last_name, date_format(r.rental_date,'%M') as rental_month from sakila.rentals_may as r left join customer as c on c.customer_id = r.customer_id group by customer_id order by count(r.rental_id) desc;"

cursor.execute(query)

In [8]:
records = cursor.fetchall()

In [9]:
for record in records:
    print(record)

(197, 8, 'SUE', 'PETERS', 'May')
(506, 7, 'LESLIE', 'SEWARD', 'May')
(109, 7, 'EDNA', 'WEST', 'May')
(269, 6, 'CASSANDRA', 'WALTERS', 'May')
(239, 6, 'MINNIE', 'ROMERO', 'May')
(19, 6, 'RUTH', 'MARTINEZ', 'May')
(371, 6, 'BILLY', 'POULIN', 'May')
(207, 6, 'GERTRUDE', 'CASTILLO', 'May')
(245, 6, 'COURTNEY', 'DAY', 'May')
(53, 6, 'HEATHER', 'MORRIS', 'May')
(274, 6, 'NAOMI', 'JENNINGS', 'May')
(251, 6, 'VICKIE', 'BREWER', 'May')
(596, 6, 'ENRIQUE', 'FORSYTHE', 'May')
(161, 6, 'GERALDINE', 'PERKINS', 'May')
(222, 5, 'DELORES', 'HANSEN', 'May')
(575, 5, 'ISAAC', 'OGLESBY', 'May')
(44, 5, 'MARIE', 'TURNER', 'May')
(7, 5, 'MARIA', 'MILLER', 'May')
(256, 5, 'MABEL', 'HOLLAND', 'May')
(569, 5, 'DAVE', 'GARDINER', 'May')
(250, 5, 'JO', 'FOWLER', 'May')
(391, 5, 'CLARENCE', 'GAMEZ', 'May')
(468, 5, 'TIM', 'CARY', 'May')
(246, 5, 'MARIAN', 'MENDOZA', 'May')
(429, 5, 'FREDERICK', 'ISBELL', 'May')
(14, 5, 'BETTY', 'WHITE', 'May')
(551, 5, 'CLAYTON', 'BARBEE', 'May')
(469, 5, 'WESLEY', 'BULL', 'May')
(176, 5, 'JUNE', 'CARROLL', 'May')
(528, 5, 'CLAUDE', 'HERZOG', 'May')
(214, 5, 'KRISTIN', 'JOHNSTON', 'May')
(311, 5, 'PAUL', 'TROUT', 'May')
(77, 5, 'JANE', 'BENNETT', 'May')
(198, 5, 'ELSIE', 'KELLEY', 'May')
(50, 5, 'DIANE', 'COLLINS', 'May')
(549, 4, 'NELSON', 'CHRISTENSON', 'May')
(261, 4, 'DEANNA', 'BYRD', 'May')
(369, 4, 'FRED', 'WHEAT', 'May')
(272, 4, 'KAY', 'CALDWELL', 'May')
(535, 4, 'JAVIER', 'ELROD', 'May')
(368, 4, None, None, 'May')
(288, 4, 'BOBBIE', 'CRAIG', 'May')
(400, 4, 'BRYAN', 'HARDISON', 'May')
(49, 4, 'JOYCE', 'EDWARDS', 'May')
(384, 4, 'ERNEST', 'STEPP', 'May')
(196, 4, 'ALMA', 'AUSTIN', 'May')
(503, 4, 'ANGEL', 'BARCLAY', 'May')
(56, 4, 'GLORIA', 'COOK', 'May')
(472, 4, 'GREG', 'ROBINS', 'May')
(296, 4, 'RAMONA', 'HALE', 'May')
(412, 4, 'ALLEN', 'BUTTERFIELD', 'May')
(460, 4, 'LEON', 'BOSTIC', 'May')
(312, 4, 'MARK', 'RINEHART', 'May')
(204, 4, 'ROSEMARY', 'SCHMIDT', 'May')
(502, 4, 'BRETT', 'CORNWELL', 'May')
(387, 4, 'JESSE', 'SCHILLING', 'May')
(375, 4, 'AARON', 'SELBY', 'May')
(594, 4, 'EDUARDO', 'HIATT', 'May')
(249, 4, 'DORA', 'MEDINA', 'May')
(105, 4, 'DAWN', 'SULLIVAN', 'May')
(16, 4, None, None, 'May')
(134, 4, 'EMMA', 'BOYD', 'May')
(307, 4, 'JOSEPH', 'JOY', 'May')
(159, 4, 'JILL', 'HAWKINS', 'May')
(313, 4, 'DONALD', 'MAHON', 'May')
(124, 4, None, None, 'May')
(408, 3, 'MANUEL', 'MURRELL', 'May')
(126, 3, 'ELLEN', 'SIMPSON', 'May')
(399, 3, 'DANNY', 'ISOM', 'May')
(142, 3, 'APRIL', 'BURNS', 'May')
(446, 3, None, None, 'May')
(319, 3, 'RONALD', 'WEINER', 'May')
(316, 3, 'STEVEN', 'CURLEY', 'May')
(185, 3, 'ROBERTA', 'HARPER', 'May')
(438, 3, 'BARRY', 'LOVELACE', 'May')
(301, 3, 'ROBERT', 'BAUGHMAN', 'May')
(484, 3, 'ROBERTO', 'VU', 'May')
(436, 3, 'TROY', 'QUIGLEY', 'May')
(282, 3, 'JENNY', 'CASTRO', 'May')
(498, 3, 'GENE', 'SANBORN', 'May')
(18, 3, 'CAROL', 'GARCIA', 'May')
(291, 3, 'TONI', 'HOLT', 'May')
(131, 3, 'MONICA', 'HICKS', 'May')
(6, 3, 'JENNIFER', 'DAVIS', 'May')
(323, 3, 'MATTHEW', 'MAHAN', 'May')
(119, 3, 'SHERRY', 'MARSHALL', 'May')
(48, 3, 'ANN', 'EVANS', 'May')
(510, 3, None, None, 'May')
(451, 3, 'JIM', 'REA', 'May')
(267, 3, 'MARGIE', 'WADE', 'May')
(242, 3, 'GLENDA', 'FRAZIER', 'May')
(500, 3, 'REGINALD', 'KINDER', 'May')
(93, 3, 'PHYLLIS', 'FOSTER', 'May')
(51, 3, 'ALICE', 'STEWART', 'May')
(439, 3, 'ALEXANDER', 'FENNELL', 'May')
(23, 3, 'SARAH', 'LEWIS', 'May')
(304, 3, 'DAVID', 'ROYAL', 'May')
(504, 3, 'NATHANIEL', 'ADAM', 'May')
(257, 3, 'MARSHA', 'DOUGLAS', 'May')
(354, 3, 'JUSTIN', 'NGO', 'May')
(89, 3, 'JULIA', 'FLORES', 'May')
(357, 3, 'KEITH', 'RICO', 'May')
(401, 3, 'TONY', 'CARRANZA', 'May')
(381, 3, 'BOBBY', 'BOUDREAU', 'May')
(533, 3, 'JESSIE', 'MILAM', 'May')
(47, 3, 'FRANCES', 'PARKER', 'May')
(548, 3, 'ALLAN', 'CORNISH', 'May')
(556, 3, 'ARMANDO', 'GRUBER', 'May')
(247, 3, 'STELLA', 'MORENO', 'May')
(437, 3, 'RANDALL', 'NEUMANN', 'May')
(184, 3, 'VIVIAN', 'RUIZ', 'May')
(54, 3, 'TERESA', 'ROGERS', 'May')
(321, 3, 'KEVIN', 'SCHULER', 'May')
(20, 3, 'SHARON', 'ROBINSON', 'May')
(114, 3, 'GRACE', 'ELLIS', 'May')
(170, 3, 'BEATRICE', 'ARNOLD', 'May')
(59, 3, 'CHERYL', 'MURPHY', 'May')
(83, 3, 'LOUISE', 'JENKINS', 'May')
(58, 3, 'JEAN', 'BELL', 'May')
(240, 3, 'MARLENE', 'WELCH', 'May')
(102, 3, 'CRYSTAL', 'FORD', 'May')
(416, 3, 'JEFFERY', 'PINSON', 'May')
(482, 3, None, None, 'May')
(21, 3, 'MICHELLE', 'CLARK', 'May')
(236, 3, 'MARCIA', 'DEAN', 'May')
(449, 3, 'OSCAR', 'AQUINO', 'May')
(303, 3, 'WILLIAM', 'SATTERFIELD', 'May')
(417, 3, 'TRAVIS', 'ESTEP', 'May')
(167, 3, 'SALLY', 'PIERCE', 'May')
(359, 3, 'WILLIE', 'MARKHAM', 'May')
(162, 3, 'LAUREN', 'HUDSON', 'May')
(17, 3, 'DONNA', 'THOMPSON', 'May')
(547, 3, 'KURT', 'EMMONS', 'May')
(201, 3, 'VICKI', 'FIELDS', 'May')
(60, 3, 'MILDRED', 'BAILEY', 'May')
(432, 3, 'EDWIN', 'BURK', 'May')
(231, 3, 'GEORGIA', 'JACOBS', 'May')
(209, 3, 'TONYA', 'CHAPMAN', 'May')
(473, 3, 'JORGE', 'OLIVARES', 'May')
(9, 3, 'MARGARET', 'MOORE', 'May')
(452, 3, 'TOM', 'MILNER', 'May')
(22, 3, 'LAURA', 'RODRIGUEZ', 'May')
(337, 3, 'JERRY', 'JORDON', 'May')
(584, 3, 'SALVADOR', 'TEEL', 'May')
(46, 3, 'CATHERINE', 'CAMPBELL', 'May')
(84, 3, 'SARA', 'PERRY', 'May')
(150, 3, 'DANIELLE', 'DANIELS', 'May')
(284, 3, 'SONIA', 'GREGORY', 'May')
(293, 3, 'MAE', 'FLETCHER', 'May')
(172, 3, 'BERNICE', 'WILLIS', 'May')
(300, 3, 'JOHN', 'FARNSWORTH', 'May')
(442, 3, 'LEROY', 'BUSTAMANTE', 'May')
(154, 3, 'MICHELE', 'GRANT', 'May')
(32, 3, 'AMY', 'LOPEZ', 'May')
(64, 3, None, None, 'May')
(526, 3, 'KARL', 'SEAL', 'May')
(287, 3, 'BECKY', 'MILES', 'May')
(179, 3, 'DANA', 'HART', 'May')
(480, 3, 'COREY', 'HAUSER', 'May')
(374, 3, 'JEREMY', 'HURTADO', 'May')
(589, 3, 'TRACY', 'HERRMANN', 'May')
(55, 3, 'DORIS', 'REED', 'May')
(253, 3, 'TERRY', 'CARLSON', 'May')
(259, 3, 'LENA', 'JENSEN', 'May')
(5, 3, 'ELIZABETH', 'BROWN', 'May')
(72, 3, 'THERESA', 'WATSON', 'May')
(562, 3, 'WALLACE', 'SLONE', 'May')
(79, 3, 'RACHEL', 'BARNES', 'May')
(326, 3, 'JOSE', 'ANDREW', 'May')
(486, 3, 'GLEN', 'TALBERT', 'May')
(115, 3, 'WENDY', 'HARRISON', 'May')
(130, 2, 'CHARLOTTE', 'HUNTER', 'May')
(334, 2, 'RAYMOND', 'MCWHORTER', 'May')
(388, 2, 'CRAIG', 'MORRELL', 'May')
(509, 2, 'RAUL', 'FORTIER', 'May')
(350, 2, 'JUAN', 'FRALEY', 'May')
(37, 2, 'PAMELA', 'BAKER', 'May')
(232, 2, 'CONSTANCE', 'REID', 'May')
(430, 2, 'RAY', 'HOULE', 'May')
(230, 2, 'JOY', 'GEORGE', 'May')
(597, 2, 'FREDDIE', 'DUGGAN', 'May')
(302, 2, 'MICHAEL', 'SILVERMAN', 'May')
(413, 2, 'MARVIN', 'YEE', 'May')
(174, 2, 'YVONNE', 'WATKINS', 'May')
(523, 2, 'HARVEY', 'GUAJARDO', 'May')
(35, 2, 'VIRGINIA', 'GREEN', 'May')
(507, 2, 'EDGAR', 'RHOADS', 'May')
(511, 2, 'CHESTER', 'BENNER', 'May')
(383, 2, 'MARTIN', 'BALES', 'May')
(346, 2, 'ARTHUR', 'SIMPKINS', 'May')
(120, 2, 'SYLVIA', 'ORTIZ', 'May')
(73, 2, 'BEVERLY', 'BROOKS', 'May')
(1, 2, 'MARY', 'SMITH', 'May')
(135, 2, 'JUANITA', 'MASON', 'May')
(314, 2, 'GEORGE', 'LINTON', 'May')
(414, 2, 'VINCENT', 'RALSTON', 'May')
(266, 2, 'NORA', 'HERRERA', 'May')
(331, 2, 'ERIC', 'ROBERT', 'May')
(25, 2, 'DEBORAH', 'WALKER', 'May')
(263, 2, 'HILDA', 'HOPKINS', 'May')
(343, 2, 'DOUGLAS', 'GRAF', 'May')
(108, 2, 'TRACY', 'COLE', 'May')
(227, 2, 'COLLEEN', 'BURTON', 'May')
(455, 2, 'JON', 'WILES', 'May')
(524, 2, 'JARED', 'ELY', 'May')
(365, 2, 'BRUCE', 'SCHWARZ', 'May')
(405, 2, 'LEONARD', 'SCHOFIELD', 'May')
(273, 2, 'PRISCILLA', 'LOWE', 'May')
(43, 2, 'CHRISTINE', 'ROBERTS', 'May')
(94, 2, 'NORMA', 'GONZALES', 'May')
(479, 2, 'ZACHARY', 'HITE', 'May')
(237, 2, 'TANYA', 'GILBERT', 'May')
(586, 2, 'KIRK', 'STCLAIR', 'May')
(297, 2, 'SHERRI', 'RHODES', 'May')
(82, 2, 'KATHRYN', 'COLEMAN', 'May')
(433, 2, 'DON', 'BONE', 'May')
(57, 2, 'EVELYN', 'MORGAN', 'May')
(348, 2, 'ROGER', 'QUINTANILLA', 'May')
(462, 2, 'WARREN', 'SHERROD', 'May')
(344, 2, 'HENRY', 'BILLINGSLEY', 'May')
(505, 2, 'RAFAEL', 'ABNEY', 'May')
(182, 2, 'RENEE', 'LANE', 'May')
(104, 2, 'RITA', 'GRAHAM', 'May')
(151, 2, 'MEGAN', 'PALMER', 'May')
(322, 2, 'JASON', 'MORRISSEY', 'May')
(107, 2, 'FLORENCE', 'WOODS', 'May')
(75, 2, 'TAMMY', 'SANDERS', 'May')
(587, 2, 'SERGIO', 'STANFIELD', 'May')
(254, 2, 'MAXINE', 'SILVA', 'May')
(515, 2, 'ANDRE', 'RAPP', 'May')
(270, 2, 'LEAH', 'CURTIS', 'May')
(564, 2, 'BOB', 'PFEIFFER', 'May')
(546, 2, 'KELLY', 'KNOTT', 'May')
(71, 2, 'KATHY', 'JAMES', 'May')
(444, 2, 'MARCUS', 'HIDALGO', 'May')
(345, 2, 'CARL', 'ARTIS', 'May')
(379, 2, 'CARLOS', 'COUGHLIN', 'May')
(394, 2, 'CHRIS', 'BROTHERS', 'May')
(309, 2, 'CHRISTOPHER', 'GRECO', 'May')
(489, 2, 'RICARDO', 'MEADOR', 'May')
(542, 2, 'LONNIE', 'TIRADO', 'May')
(143, 2, 'LESLIE', 'GORDON', 'May')
(571, 2, 'JOHNNIE', 'CHISHOLM', 'May')
(531, 2, 'JAMIE', 'WAUGH', 'May')
(566, 2, 'CASEY', 'MENA', 'May')
(536, 2, 'FERNANDO', 'CHURCHILL', 'May')
(103, 2, 'GLADYS', 'HAMILTON', 'May')
(543, 2, 'LANCE', 'PEMBERTON', 'May')
(158, 2, 'VERONICA', 'STONE', 'May')
(545, 2, 'JULIO', 'NOLAND', 'May')
(539, 2, 'MATHEW', 'BOLIN', 'May')
(390, 2, 'SHAWN', 'HEATON', 'May')
(92, 2, 'TINA', 'SIMMONS', 'May')
(193, 2, 'KATIE', 'ELLIOTT', 'May')
(133, 2, 'PAULINE', 'HENRY', 'May')
(65, 2, 'ROSE', 'HOWARD', 'May')
(448, 2, 'MIGUEL', 'BETANCOURT', 'May')
(534, 2, None, None, 'May')
(464, 2, 'JEROME', 'KENYON', 'May')
(238, 2, 'NELLIE', 'GARRETT', 'May')
(496, 2, 'TYLER', 'WREN', 'May')
(144, 2, 'CLARA', 'SHAW', 'May')
(248, 2, 'CAROLINE', 'BOWMAN', 'May')
(67, 2, 'KELLY', 'TORRES', 'May')
(299, 2, 'JAMES', 'GANNON', 'May')
(194, 2, 'KRISTEN', 'CHAVEZ', 'May')
(516, 2, 'ELMER', 'NOE', 'May')
(36, 2, 'KATHLEEN', 'ADAMS', 'May')
(157, 2, 'DARLENE', 'ROSE', 'May')
(382, 2, 'VICTOR', 'BARKLEY', 'May')
(152, 2, 'ALICIA', 'MILLS', 'May')
(147, 2, 'JOANNE', 'ROBERTSON', 'May')
(361, 2, 'LAWRENCE', 'LAWTON', 'May')
(508, 2, 'MILTON', 'HOWLAND', 'May')
(306, 2, 'CHARLES', 'KOWALSKI', 'May')
(28, 2, 'CYNTHIA', 'YOUNG', 'May')
(112, 2, 'ROSA', 'REYNOLDS', 'May')
(544, 2, 'CODY', 'NOLEN', 'May')
(168, 2, 'REGINA', 'BERRY', 'May')
(220, 2, 'CHARLENE', 'ALVAREZ', 'May')
(475, 2, 'PEDRO', 'CHESTNUT', 'May')
(190, 2, 'YOLANDA', 'WEAVER', 'May')
(3, 2, 'LINDA', 'WILLIAMS', 'May')
(403, 2, 'MIKE', 'WAY', 'May')
(87, 2, 'WANDA', 'PATTERSON', 'May')
(127, 2, 'ELAINE', 'STEVENS', 'May')
(565, 2, 'JAIME', 'NETTLES', 'May')
(447, 2, 'CLIFFORD', 'BOWENS', 'May')
(557, 2, 'FELIX', 'GAFFNEY', 'May')
(445, 2, 'MICHEAL', 'FORMAN', 'May')
(491, 2, 'RICK', 'MATTOX', 'May')
(476, 2, 'DERRICK', 'BOURQUE', 'May')
(228, 2, 'ALLISON', 'STANLEY', 'May')
(501, 2, 'RUBEN', 'GEARY', 'May')
(421, 2, 'LEE', 'HAWKS', 'May')
(113, 2, 'CINDY', 'FISHER', 'May')
(110, 2, 'TIFFANY', 'JORDAN', 'May')
(138, 2, 'HAZEL', 'WARREN', 'May')
(169, 2, None, None, 'May')
(315, 2, None, None, 'May')
(106, 2, 'CONNIE', 'WALLACE', 'May')
(76, 2, 'IRENE', 'PRICE', 'May')
(588, 2, 'MARION', 'OCAMPO', 'May')
(173, 2, 'AUDREY', 'RAY', 'May')
(186, 2, 'HOLLY', 'FOX', 'May')
(69, 2, 'JUDY', 'GRAY', 'May')
(490, 2, 'SAM', 'MCDUFFIE', 'May')
(244, 2, 'VIOLA', 'HANSON', 'May')
(538, 2, 'TED', 'BREAUX', 'May')
(393, 2, 'PHILIP', 'CAUSEY', 'May')
(332, 2, 'STEPHEN', 'QUALLS', 'May')
(554, 2, 'DWAYNE', 'OLVERA', 'May')
(372, 2, 'STEVE', 'MACKENZIE', 'May')
(495, 2, 'CHARLIE', 'BESS', 'May')
(241, 2, None, None, 'May')
(360, 2, 'RALPH', 'MADRIGAL', 'May')
(281, 2, 'LEONA', 'OBRIEN', 'May')
(411, 2, 'NORMAN', 'CURRIER', 'May')
(85, 2, 'ANNE', 'POWELL', 'May')
(117, 2, 'EDITH', 'MCDONALD', 'May')
(330, 2, 'SCOTT', 'SHELLEY', 'May')
(252, 2, 'MATTIE', 'HOFFMAN', 'May')
(215, 2, 'JESSIE', 'BANKS', 'May')
(276, 2, 'BRANDY', 'GRAVES', 'May')
(576, 2, 'MORRIS', 'MCCARTER', 'May')
(435, 2, 'RICKY', 'SHELBY', 'May')
(563, 2, 'KEN', 'PREWITT', 'May')
(146, 2, 'JAMIE', 'RICE', 'May')
(593, 2, 'RENE', 'MCALISTER', 'May')
(26, 2, 'JESSICA', 'HALL', 'May')
(235, 2, 'JACKIE', 'LYNCH', 'May')
(225, 2, 'ARLENE', 'HARVEY', 'May')
(217, 2, 'AGNES', 'BISHOP', 'May')
(122, 2, 'THELMA', 'MURRAY', 'May')
(62, 2, 'JOAN', 'COOPER', 'May')
(128, 2, 'MARJORIE', 'TUCKER', 'May')
(156, 2, 'BERTHA', 'FERGUSON', 'May')
(561, 2, 'IAN', 'STILL', 'May')
(385, 2, 'PHILLIP', 'HOLM', 'May')
(367, 2, 'ADAM', 'GOOCH', 'May')
(581, 2, 'VIRGIL', 'WOFFORD', 'May')
(279, 2, 'DIANNE', 'SHELTON', 'May')
(12, 2, 'NANCY', 'THOMAS', 'May')
(24, 2, 'KIMBERLY', 'LEE', 'May')
(541, 2, 'DARREN', 'WINDHAM', 'May')
(191, 2, 'JEANETTE', 'GREENE', 'May')
(459, 1, 'TOMMY', 'COLLAZO', 'May')
(333, 1, 'ANDREW', 'PURDY', 'May')
(456, 1, 'RONNIE', 'RICKETTS', 'May')
(88, 1, 'BONNIE', 'HUGHES', 'May')
(532, 1, 'NEIL', 'RENNER', 'May')
(470, 1, 'GORDON', 'ALLARD', 'May')
(419, 1, 'CHAD', 'CARBONE', 'May')
(86, 1, 'JACQUELINE', 'LONG', 'May')
(305, 1, 'RICHARD', 'MCCRARY', 'May')
(100, 1, 'ROBIN', 'HAYES', 'May')
(265, 1, 'JENNIE', 'TERRY', 'May')
(286, 1, 'VELMA', 'LUCAS', 'May')
(427, 1, 'JESUS', 'MCCARTNEY', 'May')
(492, 1, 'LESTER', 'KRAUS', 'May')
(499, 1, 'MARC', 'OUTLAW', 'May')
(208, 1, 'LUCY', 'WHEELER', 'May')
(310, 1, 'DANIEL', 'CABRAL', 'May')
(317, 1, 'EDWARD', 'BAUGH', 'May')
(40, 1, 'AMANDA', 'CARTER', 'May')
(325, 1, 'TIMOTHY', 'BUNN', 'May')
(560, 1, 'JORDAN', 'ARCHULETA', 'May')
(290, 1, 'KRISTINA', 'CHAMBERS', 'May')
(33, 1, 'ANNA', 'HILL', 'May')
(552, 1, 'HUGH', 'WALDROP', 'May')
(125, 1, 'ETHEL', 'WEBB', 'May')
(243, 1, 'LYDIA', 'BURKE', 'May')
(29, 1, 'ANGELA', 'HERNANDEZ', 'May')
(98, 1, 'LILLIAN', 'GRIFFIN', 'May')
(91, 1, 'LOIS', 'BUTLER', 'May')
(121, 1, 'JOSEPHINE', 'GOMEZ', 'May')
(318, 1, 'BRIAN', 'WYMAN', 'May')
(467, 1, 'ALVIN', 'DELOACH', 'May')
(221, 1, 'BESSIE', 'MORRISON', 'May')
(211, 1, 'STACEY', 'MONTGOMERY', 'May')
(187, 1, 'BRITTANY', 'RILEY', 'May')
(373, 1, 'LOUIS', 'LEONE', 'May')
(200, 1, 'JEANNE', 'LAWSON', 'May')
(45, 1, 'JANET', 'PHILLIPS', 'May')
(582, 1, 'ANDY', 'VANHORN', 'May')
(81, 1, 'ANDREA', 'HENDERSON', 'May')
(577, 1, 'CLIFTON', 'MALCOLM', 'May')
(277, 1, 'OLGA', 'JIMENEZ', 'May')
(409, 1, 'RODNEY', 'MOELLER', 'May')
(203, 1, 'TARA', 'RYAN', 'May')
(2, 1, 'PATRICIA', 'JOHNSON', 'May')
(292, 1, 'MISTY', 'LAMBERT', 'May')
(275, 1, 'CAROLE', 'BARNETT', 'May')
(165, 1, 'LORRAINE', 'STEPHENS', 'May')
(378, 1, 'EUGENE', 'CULPEPPER', 'May')
(118, 1, 'KIM', 'CRUZ', 'May')
(295, 1, 'DAISY', 'BATES', 'May')
(183, 1, 'IDA', 'ANDREWS', 'May')
(298, 1, 'ERIKA', 'PENA', 'May')
(213, 1, 'GINA', 'WILLIAMSON', 'May')
(422, 1, 'MELVIN', 'ELLINGTON', 'May')
(424, 1, 'KYLE', 'SPURLOCK', 'May')
(219, 1, 'WILLIE', 'HOWELL', 'May')
(522, 1, 'ARNOLD', 'HAVENS', 'May')
(574, 1, 'JULIAN', 'VEST', 'May')
(525, 1, 'ADRIAN', 'CLARY', 'May')
(529, 1, 'ERIK', 'GUILLEN', 'May')
(364, 1, 'BENJAMIN', 'VARNEY', 'May')
(101, 1, 'PEGGY', 'MYERS', 'May')
(398, 1, 'ANTONIO', 'MEEK', 'May')
(95, 1, 'PAULA', 'BRYANT', 'May')
(199, 1, 'BETH', 'FRANKLIN', 'May')
(145, 1, 'LUCILLE', 'HOLMES', 'May')
(111, 1, 'CARMEN', 'OWENS', 'May')
(434, 1, 'EDDIE', 'TOMLIN', 'May')
(223, 1, 'MELINDA', 'FERNANDEZ', 'May')
(514, 1, 'FRANKLIN', 'TROUTMAN', 'May')
(493, 1, 'BRENT', 'HARKINS', 'May')
(450, 1, 'JAY', 'ROBB', 'May')
(376, 1, 'RANDY', 'GAITHER', 'May')
(572, 1, 'SIDNEY', 'BURLESON', 'May')
(463, 1, 'DARRELL', 'POWER', 'May')
(324, 1, 'GARY', 'COY', 'May')
(155, 1, 'GAIL', 'KNIGHT', 'May')
(181, 1, 'ANA', 'BRADLEY', 'May')
(386, 1, 'TODD', 'TAN', 'May')
(308, 1, 'THOMAS', 'GRIGSBY', 'May')
(294, 1, 'SHELLY', 'WATTS', 'May')
(590, 1, 'SETH', 'HANNON', 'May')
(537, 1, 'CLINTON', 'BUFORD', 'May')
(426, 1, 'BRADLEY', 'MOTLEY', 'May')
(494, 1, 'RAMON', 'CHOATE', 'May')
(580, 1, 'ROSS', 'GREY', 'May')
(595, 1, 'TERRENCE', 'GUNDERSON', 'May')
(471, 1, 'DEAN', 'SAUER', 'May')
(407, 1, 'DALE', 'RATCLIFF', 'May')
(428, 1, 'HERBERT', 'KRUGER', 'May')
(42, 1, 'CAROLYN', 'PEREZ', 'May')
(465, 1, 'FLOYD', 'GANDY', 'May')
(396, 1, 'EARL', 'SHANKS', 'May')
(327, 1, 'LARRY', 'THRASHER', 'May')
(578, 1, 'WILLARD', 'LUMPKIN', 'May')
(166, 1, 'LYNN', 'PAYNE', 'May')
(415, 1, 'GLENN', 'PULLEN', 'May')
(338, 1, 'DENNIS', 'GILMAN', 'May')
(148, 1, 'ELEANOR', 'HUNT', 'May')
(461, 1, 'DEREK', 'BLAKELY', 'May')
(518, 1, 'GABRIEL', 'HARDER', 'May')
(363, 1, 'ROY', 'WHITING', 'May')
(454, 1, 'ALEX', 'GRESHAM', 'May')
(483, 1, 'VERNON', 'CHAPA', 'May')
(420, 1, 'JACOB', 'LANCE', 'May')
(149, 1, 'VALERIE', 'BLACK', 'May')
(352, 1, 'ALBERT', 'CROUSE', 'May')
(27, 1, 'SHIRLEY', 'ALLEN', 'May')
(553, 1, 'MAX', 'PITT', 'May')
(402, 1, 'LUIS', 'YANEZ', 'May')
(171, 1, 'DOLORES', 'WAGNER', 'May')
(474, 1, 'DUSTIN', 'GILLETTE', 'May')
(441, 1, 'MARIO', 'CHEATHAM', 'May')
(573, 1, 'BYRON', 'BOX', 'May')
(380, 1, 'RUSSELL', 'BRINSON', 'May')
(517, 1, 'BRAD', 'MCCURDY', 'May')
(530, 1, 'DARRYL', 'ASHCRAFT', 'May')
(406, 1, None, None, 'May')
(358, 1, 'SAMUEL', 'MARLOW', 'May')
(328, 1, 'JEFFREY', 'SPEAR', 'May')
(8, 1, 'SUSAN', 'WILSON', 'May')
(99, 1, 'EMILY', 'DIAZ', 'May')
(52, 1, 'JULIE', 'SANCHEZ', 'May')
(339, 1, 'WALTER', 'PERRYMAN', 'May')
(477, 1, 'DAN', 'PAINE', 'May')
(349, 1, 'JOE', 'GILLILAND', 'May')
(192, 1, 'LAURIE', 'LAWRENCE', 'May')
(366, 1, 'BRANDON', 'HUEY', 'May')
(550, 1, 'GUY', 'BROWNLEE', 'May')
(137, 1, 'RHONDA', 'KENNEDY', 'May')
(141, 1, 'DEBBIE', 'REYES', 'May')
(66, 1, 'JANICE', 'WARD', 'May')
(210, 1, 'ELLA', 'OLIVER', 'May')
(440, 1, 'BERNARD', 'COLBY', 'May')
(520, 1, 'MITCHELL', 'WESTMORELAND', 'May')
(262, 1, 'PATSY', 'DAVIDSON', 'May')
(11, 1, 'LISA', 'ANDERSON', 'May')
(123, 1, 'SHANNON', 'FREEMAN', 'May')
(513, 1, 'DUANE', 'TUBBS', 'May')
(216, 1, 'NATALIE', 'MEYER', 'May')
(389, 1, 'ALAN', 'KAHN', 'May')
(397, 1, 'JIMMY', 'SCHRADER', 'May')
(599, 1, 'AUSTIN', 'CINTRON', 'May')
(485, 1, 'CLYDE', 'TOBIAS', 'May')
(164, 1, 'JOANN', 'GARDNER', 'May')
(280, 1, 'TRACEY', 'BARRETT', 'May')
(457, 1, 'BILL', 'GAVIN', 'May')
(362, 1, 'NICHOLAS', 'BARFIELD', 'May')
(70, 1, 'CHRISTINA', 'RAMIREZ', 'May')
(519, 1, 'RON', 'DELUCA', 'May')
(116, 1, 'VICTORIA', 'GIBSON', 'May')
(570, 1, 'IVAN', 'CROMWELL', 'May')
(443, 1, 'FRANCISCO', 'SKIDMORE', 'May')
(404, 1, 'STANLEY', 'SCROGGINS', 'May')
(356, 1, 'GERALD', 'FULTZ', 'May')
(278, 1, 'BILLIE', 'HORTON', 'May')
(271, 1, None, None, 'May')
(425, 1, 'FRANCIS', 'SIKES', 'May')
(497, 1, 'GILBERT', 'SLEDGE', 'May')
(260, 1, 'CHRISTY', 'VARGAS', 'May')
(353, 1, 'JONATHAN', 'SCARBOROUGH', 'May')
(466, 1, 'LEO', 'EBERT', 'May')
(481, 1, 'HERMAN', 'DEVORE', 'May')
(355, 1, 'TERRY', 'GRISSOM', 'May')
(189, 1, 'LORETTA', 'CARPENTER', 'May')
(74, 1, 'DENISE', 'KELLY', 'May')
(180, 1, 'STACY', 'CUNNINGHAM', 'May')
(234, 1, 'CLAUDIA', 'FULLER', 'May')
(431, 1, 'JOEL', 'FRANCISCO', 'May')
(351, 1, 'JACK', 'FOUST', 'May')
(10, 1, 'DOROTHY', 'TAYLOR', 'May')
(136, 1, 'ANITA', 'MORALES', 'May')
(61, 1, 'KATHERINE', 'RIVERA', 'May')

In [10]:
# converting data in to pandasdataframe
import pandas as pd
df1 = pd.read_sql_query(query,db)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
df1

     customer_id  no_of_rentals first_name  last_name rental_month
0            197              8        SUE     PETERS          May
1            506              7     LESLIE     SEWARD          May
2            109              7       EDNA       WEST          May
3            269              6  CASSANDRA    WALTERS          May
4            239              6     MINNIE     ROMERO          May
..           ...            ...        ...        ...          ...
515          431              1       JOEL  FRANCISCO          May
516          351              1       JACK      FOUST          May
517           10              1    DOROTHY     TAYLOR          May
518          136              1      ANITA    MORALES          May
519           61              1  KATHERINE     RIVERA          May

[520 rows x 5 columns]

#### Ex. 2 Check the number of rentals for each customer for June

In [21]:
query = "SELECT r.customer_id, COUNT(r.rental_id) AS no_of_rentals,c.first_name,c.last_name, date_format(r.rental_date,'%M') as rental_month FROM sakila.rentals_june AS r LEFT JOIN customer c ON r.customer_id = c.customer_id GROUP BY customer_id ORDER BY COUNT(r.rental_id) DESC;"

In [22]:
cursor.execute(query)

In [23]:
records = cursor.fetchall()

In [24]:
for record in records:
    print(record)

(31, 11, 'BRENDA', 'WRIGHT', 'June')
(454, 10, 'ALEX', 'GRESHAM', 'June')
(329, 9, 'FRANK', 'WAGGONER', 'June')
(295, 9, 'DAISY', 'BATES', 'June')
(561, 9, 'IAN', 'STILL', 'June')
(526, 9, 'KARL', 'SEAL', 'June')
(267, 9, 'MARGIE', 'WADE', 'June')
(457, 9, 'BILL', 'GAVIN', 'June')
(213, 9, 'GINA', 'WILLIAMSON', 'June')
(197, 8, 'SUE', 'PETERS', 'June')
(196, 8, 'ALMA', 'AUSTIN', 'June')
(340, 8, 'PATRICK', 'NEWSOM', 'June')
(234, 8, 'CLAUDIA', 'FULLER', 'June')
(236, 8, 'MARCIA', 'DEAN', 'June')
(176, 8, 'JUNE', 'CARROLL', 'June')
(178, 8, 'MARION', 'SNYDER', 'June')
(27, 8, 'SHIRLEY', 'ALLEN', 'June')
(268, 8, 'NINA', 'SOTO', 'June')
(510, 8, None, None, 'June')
(336, 8, 'JOSHUA', 'MARK', 'June')
(260, 8, 'CHRISTY', 'VARGAS', 'June')
(380, 8, 'RUSSELL', 'BRINSON', 'June')
(46, 7, 'CATHERINE', 'CAMPBELL', 'June')
(1, 7, 'MARY', 'SMITH', 'June')
(491, 7, 'RICK', 'MATTOX', 'June')
(451, 7, 'JIM', 'REA', 'June')
(452, 7, 'TOM', 'MILNER', 'June')
(146, 7, 'JAMIE', 'RICE', 'June')
(122, 7, 'THELMA', 'MURRAY', 'June')
(371, 7, 'BILLY', 'POULIN', 'June')
(434, 7, 'EDDIE', 'TOMLIN', 'June')
(66, 7, 'JANICE', 'WARD', 'June')
(62, 7, 'JOAN', 'COOPER', 'June')
(107, 7, 'FLORENCE', 'WOODS', 'June')
(570, 7, 'IVAN', 'CROMWELL', 'June')
(96, 7, 'DIANA', 'ALEXANDER', 'June')
(456, 7, 'RONNIE', 'RICKETTS', 'June')
(200, 7, 'JEANNE', 'LAWSON', 'June')
(316, 7, 'STEVEN', 'CURLEY', 'June')
(341, 7, 'PETER', 'MENARD', 'June')
(187, 7, 'BRITTANY', 'RILEY', 'June')
(277, 7, 'OLGA', 'JIMENEZ', 'June')
(576, 7, 'MORRIS', 'MCCARTER', 'June')
(322, 7, 'JASON', 'MORRISSEY', 'June')
(26, 7, 'JESSICA', 'HALL', 'June')
(338, 7, 'DENNIS', 'GILMAN', 'June')
(149, 7, 'VALERIE', 'BLACK', 'June')
(343, 7, 'DOUGLAS', 'GRAF', 'June')
(256, 7, 'MABEL', 'HOLLAND', 'June')
(431, 7, 'JOEL', 'FRANCISCO', 'June')
(293, 7, 'MAE', 'FLETCHER', 'June')
(450, 7, 'JAY', 'ROBB', 'June')
(86, 7, 'JACQUELINE', 'LONG', 'June')
(299, 7, 'JAMES', 'GANNON', 'June')
(171, 7, 'DOLORES', 'WAGNER', 'June')
(459, 7, 'TOMMY', 'COLLAZO', 'June')
(384, 7, 'ERNEST', 'STEPP', 'June')
(406, 7, None, None, 'June')
(29, 7, 'ANGELA', 'HERNANDEZ', 'June')
(516, 6, 'ELMER', 'NOE', 'June')
(310, 6, 'DANIEL', 'CABRAL', 'June')
(191, 6, 'JEANETTE', 'GREENE', 'June')
(368, 6, None, None, 'June')
(186, 6, 'HOLLY', 'FOX', 'June')
(84, 6, 'SARA', 'PERRY', 'June')
(430, 6, 'RAY', 'HOULE', 'June')
(403, 6, 'MIKE', 'WAY', 'June')
(468, 6, 'TIM', 'CARY', 'June')
(550, 6, 'GUY', 'BROWNLEE', 'June')
(444, 6, 'MARCUS', 'HIDALGO', 'June')
(515, 6, 'ANDRE', 'RAPP', 'June')
(498, 6, 'GENE', 'SANBORN', 'June')
(571, 6, 'JOHNNIE', 'CHISHOLM', 'June')
(439, 6, 'ALEXANDER', 'FENNELL', 'June')
(163, 6, 'CATHY', 'SPENCER', 'June')
(395, 6, 'JOHNNY', 'TURPIN', 'June')
(327, 6, 'LARRY', 'THRASHER', 'June')
(4, 6, 'BARBARA', 'JONES', 'June')
(242, 6, 'GLENDA', 'FRAZIER', 'June')
(405, 6, 'LEONARD', 'SCHOFIELD', 'June')
(204, 6, 'ROSEMARY', 'SCHMIDT', 'June')
(193, 6, 'KATIE', 'ELLIOTT', 'June')
(116, 6, 'VICTORIA', 'GIBSON', 'June')
(25, 6, 'DEBORAH', 'WALKER', 'June')
(98, 6, 'LILLIAN', 'GRIFFIN', 'June')
(120, 6, 'SYLVIA', 'ORTIZ', 'June')
(215, 6, 'JESSIE', 'BANKS', 'June')
(253, 6, 'TERRY', 'CARLSON', 'June')
(472, 6, 'GREG', 'ROBINS', 'June')
(533, 6, 'JESSIE', 'MILAM', 'June')
(583, 6, 'MARSHALL', 'THORN', 'June')
(438, 6, 'BARRY', 'LOVELACE', 'June')
(358, 6, 'SAMUEL', 'MARLOW', 'June')
(387, 6, 'JESSE', 'SCHILLING', 'June')
(230, 6, 'JOY', 'GEORGE', 'June')
(76, 6, 'IRENE', 'PRICE', 'June')
(410, 6, 'CURTIS', 'IRBY', 'June')
(594, 6, 'EDUARDO', 'HIATT', 'June')
(35, 6, 'VIRGINIA', 'GREEN', 'June')
(111, 6, 'CARMEN', 'OWENS', 'June')
(39, 6, 'DEBRA', 'NELSON', 'June')
(130, 6, 'CHARLOTTE', 'HUNTER', 'June')
(319, 6, 'RONALD', 'WEINER', 'June')
(85, 6, 'ANNE', 'POWELL', 'June')
(514, 6, 'FRANKLIN', 'TROUTMAN', 'June')
(478, 6, 'LEWIS', 'LYMAN', 'June')
(129, 6, 'CARRIE', 'PORTER', 'June')
(12, 6, 'NANCY', 'THOMAS', 'June')
(261, 6, 'DEANNA', 'BYRD', 'June')
(144, 6, 'CLARA', 'SHAW', 'June')
(383, 6, 'MARTIN', 'BALES', 'June')
(132, 6, 'ESTHER', 'CRAWFORD', 'June')
(289, 6, 'VIOLET', 'RODRIQUEZ', 'June')
(479, 6, 'ZACHARY', 'HITE', 'June')
(113, 6, 'CINDY', 'FISHER', 'June')
(307, 6, 'JOSEPH', 'JOY', 'June')
(446, 6, None, None, 'June')
(416, 5, 'JEFFERY', 'PINSON', 'June')
(239, 5, 'MINNIE', 'ROMERO', 'June')
(592, 5, None, None, 'June')
(49, 5, 'JOYCE', 'EDWARDS', 'June')
(279, 5, 'DIANNE', 'SHELTON', 'June')
(173, 5, 'AUDREY', 'RAY', 'June')
(249, 5, 'DORA', 'MEDINA', 'June')
(94, 5, 'NORMA', 'GONZALES', 'June')
(330, 5, 'SCOTT', 'SHELLEY', 'June')
(290, 5, 'KRISTINA', 'CHAMBERS', 'June')
(428, 5, 'HERBERT', 'KRUGER', 'June')
(391, 5, 'CLARENCE', 'GAMEZ', 'June')
(28, 5, 'CYNTHIA', 'YOUNG', 'June')
(38, 5, 'MARTHA', 'GONZALEZ', 'June')
(89, 5, 'JULIA', 'FLORES', 'June')
(320, 5, 'ANTHONY', 'SCHWAB', 'June')
(540, 5, 'TYRONE', 'ASHER', 'June')
(388, 5, 'CRAIG', 'MORRELL', 'June')
(254, 5, 'MAXINE', 'SILVA', 'June')
(365, 5, 'BRUCE', 'SCHWARZ', 'June')
(448, 5, 'MIGUEL', 'BETANCOURT', 'June')
(190, 5, 'YOLANDA', 'WEAVER', 'June')
(162, 5, 'LAUREN', 'HUDSON', 'June')
(427, 5, 'JESUS', 'MCCARTNEY', 'June')
(221, 5, 'BESSIE', 'MORRISON', 'June')
(108, 5, 'TRACY', 'COLE', 'June')
(500, 5, 'REGINALD', 'KINDER', 'June')
(273, 5, 'PRISCILLA', 'LOWE', 'June')
(177, 5, 'SAMANTHA', 'DUNCAN', 'June')
(381, 5, 'BOBBY', 'BOUDREAU', 'June')
(297, 5, 'SHERRI', 'RHODES', 'June')
(363, 5, 'ROY', 'WHITING', 'June')
(362, 5, 'NICHOLAS', 'BARFIELD', 'June')
(194, 5, 'KRISTEN', 'CHAVEZ', 'June')
(339, 5, 'WALTER', 'PERRYMAN', 'June')
(82, 5, 'KATHRYN', 'COLEMAN', 'June')
(589, 5, 'TRACY', 'HERRMANN', 'June')
(506, 5, 'LESLIE', 'SEWARD', 'June')
(471, 5, 'DEAN', 'SAUER', 'June')
(246, 5, 'MARIAN', 'MENDOZA', 'June')
(590, 5, 'SETH', 'HANNON', 'June')
(216, 5, 'NATALIE', 'MEYER', 'June')
(123, 5, 'SHANNON', 'FREEMAN', 'June')
(352, 5, 'ALBERT', 'CROUSE', 'June')
(237, 5, 'TANYA', 'GILBERT', 'June')
(148, 5, 'ELEANOR', 'HUNT', 'June')
(5, 5, 'ELIZABETH', 'BROWN', 'June')
(423, 5, 'ALFRED', 'CASILLAS', 'June')
(155, 5, 'GAIL', 'KNIGHT', 'June')
(390, 5, 'SHAWN', 'HEATON', 'June')
(189, 5, 'LORETTA', 'CARPENTER', 'June')
(574, 5, 'JULIAN', 'VEST', 'June')
(87, 5, 'WANDA', 'PATTERSON', 'June')
(109, 5, 'EDNA', 'WEST', 'June')
(386, 5, 'TODD', 'TAN', 'June')
(534, 5, None, None, 'June')
(393, 5, 'PHILIP', 'CAUSEY', 'June')
(517, 5, 'BRAD', 'MCCURDY', 'June')
(568, 5, 'ALBERTO', 'HENNING', 'June')
(328, 5, 'JEFFREY', 'SPEAR', 'June')
(426, 5, 'BRADLEY', 'MOTLEY', 'June')
(77, 5, 'JANE', 'BENNETT', 'June')
(347, 5, 'RYAN', 'SALISBURY', 'June')
(24, 5, 'KIMBERLY', 'LEE', 'June')
(543, 5, 'LANCE', 'PEMBERTON', 'June')
(364, 5, 'BENJAMIN', 'VARNEY', 'June')
(283, 5, 'FELICIA', 'SUTTON', 'June')
(10, 5, 'DOROTHY', 'TAYLOR', 'June')
(208, 5, 'LUCY', 'WHEELER', 'June')
(45, 5, 'JANET', 'PHILLIPS', 'June')
(466, 5, 'LEO', 'EBERT', 'June')
(7, 5, 'MARIA', 'MILLER', 'June')
(55, 5, 'DORIS', 'REED', 'June')
(68, 5, 'NICOLE', 'PETERSON', 'June')
(588, 5, 'MARION', 'OCAMPO', 'June')
(143, 5, 'LESLIE', 'GORDON', 'June')
(75, 5, 'TAMMY', 'SANDERS', 'June')
(53, 5, 'HEATHER', 'MORRIS', 'June')
(558, 5, None, None, 'June')
(308, 5, 'THOMAS', 'GRIGSBY', 'June')
(201, 5, 'VICKI', 'FIELDS', 'June')
(57, 5, 'EVELYN', 'MORGAN', 'June')
(556, 5, 'ARMANDO', 'GRUBER', 'June')
(21, 5, 'MICHELLE', 'CLARK', 'June')
(382, 5, 'VICTOR', 'BARKLEY', 'June')
(241, 5, None, None, 'June')
(151, 5, 'MEGAN', 'PALMER', 'June')
(377, 5, 'HOWARD', 'FORTNER', 'June')
(23, 5, 'SARAH', 'LEWIS', 'June')
(264, 4, 'GWENDOLYN', 'MAY', 'June')
(481, 4, 'HERMAN', 'DEVORE', 'June')
(139, 4, 'AMBER', 'DIXON', 'June')
(95, 4, 'PAULA', 'BRYANT', 'June')
(546, 4, 'KELLY', 'KNOTT', 'June')
(52, 4, 'JULIE', 'SANCHEZ', 'June')
(349, 4, 'JOE', 'GILLILAND', 'June')
(209, 4, 'TONYA', 'CHAPMAN', 'June')
(345, 4, 'CARL', 'ARTIS', 'June')
(100, 4, 'ROBIN', 'HAYES', 'June')
(203, 4, 'TARA', 'RYAN', 'June')
(50, 4, 'DIANE', 'COLLINS', 'June')
(447, 4, 'CLIFFORD', 'BOWENS', 'June')
(255, 4, 'IRMA', 'PEARSON', 'June')
(205, 4, 'EILEEN', 'CARR', 'June')
(357, 4, 'KEITH', 'RICO', 'June')
(287, 4, 'BECKY', 'MILES', 'June')
(544, 4, 'CODY', 'NOLEN', 'June')
(442, 4, 'LEROY', 'BUSTAMANTE', 'June')
(183, 4, 'IDA', 'ANDREWS', 'June')
(266, 4, 'NORA', 'HERRERA', 'June')
(511, 4, 'CHESTER', 'BENNER', 'June')
(463, 4, 'DARRELL', 'POWER', 'June')
(104, 4, 'RITA', 'GRAHAM', 'June')
(522, 4, 'ARNOLD', 'HAVENS', 'June')
(91, 4, 'LOIS', 'BUTLER', 'June')
(326, 4, 'JOSE', 'ANDREW', 'June')
(538, 4, 'TED', 'BREAUX', 'June')
(359, 4, 'WILLIE', 'MARKHAM', 'June')
(587, 4, 'SERGIO', 'STANFIELD', 'June')
(465, 4, 'FLOYD', 'GANDY', 'June')
(585, 4, 'PERRY', 'SWAFFORD', 'June')
(270, 4, 'LEAH', 'CURTIS', 'June')
(484, 4, 'ROBERTO', 'VU', 'June')
(83, 4, 'LOUISE', 'JENKINS', 'June')
(499, 4, 'MARC', 'OUTLAW', 'June')
(212, 4, 'WILMA', 'RICHARDS', 'June')
(158, 4, 'VERONICA', 'STONE', 'June')
(455, 4, 'JON', 'WILES', 'June')
(278, 4, 'BILLIE', 'HORTON', 'June')
(103, 4, 'GLADYS', 'HAMILTON', 'June')
(527, 4, 'CORY', 'MEEHAN', 'June')
(166, 4, 'LYNN', 'PAYNE', 'June')
(304, 4, 'DAVID', 'ROYAL', 'June')
(537, 4, 'CLINTON', 'BUFORD', 'June')
(18, 4, 'CAROL', 'GARCIA', 'June')
(298, 4, 'ERIKA', 'PENA', 'June')
(202, 4, 'CARLA', 'GUTIERREZ', 'June')
(125, 4, 'ETHEL', 'WEBB', 'June')
(354, 4, 'JUSTIN', 'NGO', 'June')
(360, 4, 'RALPH', 'MADRIGAL', 'June')
(44, 4, 'MARIE', 'TURNER', 'June')
(404, 4, 'STANLEY', 'SCROGGINS', 'June')
(133, 4, 'PAULINE', 'HENRY', 'June')
(188, 4, 'MELANIE', 'ARMSTRONG', 'June')
(392, 4, 'SEAN', 'DOUGLASS', 'June')
(42, 4, 'CAROLYN', 'PEREZ', 'June')
(182, 4, 'RENEE', 'LANE', 'June')
(3, 4, 'LINDA', 'WILLIAMS', 'June')
(374, 4, 'JEREMY', 'HURTADO', 'June')
(54, 4, 'TERESA', 'ROGERS', 'June')
(20, 4, 'SHARON', 'ROBINSON', 'June')
(262, 4, 'PATSY', 'DAVIDSON', 'June')
(174, 4, 'YVONNE', 'WATKINS', 'June')
(305, 4, 'RICHARD', 'MCCRARY', 'June')
(6, 4, 'JENNIFER', 'DAVIS', 'June')
(140, 4, 'EVA', 'RAMOS', 'June')
(573, 4, 'BYRON', 'BOX', 'June')
(489, 4, 'RICARDO', 'MEADOR', 'June')
(134, 4, 'EMMA', 'BOYD', 'June')
(378, 4, 'EUGENE', 'CULPEPPER', 'June')
(566, 4, 'CASEY', 'MENA', 'June')
(181, 4, 'ANA', 'BRADLEY', 'June')
(259, 4, 'LENA', 'JENSEN', 'June')
(333, 4, 'ANDREW', 'PURDY', 'June')
(227, 4, 'COLLEEN', 'BURTON', 'June')
(476, 4, 'DERRICK', 'BOURQUE', 'June')
(492, 4, 'LESTER', 'KRAUS', 'June')
(477, 4, 'DAN', 'PAINE', 'June')
(523, 4, 'HARVEY', 'GUAJARDO', 'June')
(467, 4, 'ALVIN', 'DELOACH', 'June')
(473, 4, 'JORGE', 'OLIVARES', 'June')
(429, 4, 'FREDERICK', 'ISBELL', 'June')
(56, 4, 'GLORIA', 'COOK', 'June')
(275, 4, 'CAROLE', 'BARNETT', 'June')
(505, 4, 'RAFAEL', 'ABNEY', 'June')
(112, 4, 'ROSA', 'REYNOLDS', 'June')
(309, 4, 'CHRISTOPHER', 'GRECO', 'June')
(422, 4, 'MELVIN', 'ELLINGTON', 'June')
(30, 4, 'MELISSA', 'KING', 'June')
(32, 4, 'AMY', 'LOPEZ', 'June')
(292, 4, 'MISTY', 'LAMBERT', 'June')
(13, 4, 'KAREN', 'JACKSON', 'June')
(16, 4, None, None, 'June')
(554, 4, 'DWAYNE', 'OLVERA', 'June')
(303, 4, 'WILLIAM', 'SATTERFIELD', 'June')
(233, 4, 'LILLIE', 'KIM', 'June')
(562, 4, 'WALLACE', 'SLONE', 'June')
(350, 4, 'JUAN', 'FRALEY', 'June')
(282, 4, 'JENNY', 'CASTRO', 'June')
(486, 4, 'GLEN', 'TALBERT', 'June')
(593, 4, 'RENE', 'MCALISTER', 'June')
(114, 4, 'GRACE', 'ELLIS', 'June')
(67, 4, 'KELLY', 'TORRES', 'June')
(495, 4, 'CHARLIE', 'BESS', 'June')
(156, 4, 'BERTHA', 'FERGUSON', 'June')
(493, 4, 'BRENT', 'HARKINS', 'June')
(147, 4, 'JOANNE', 'ROBERTSON', 'June')
(497, 4, 'GILBERT', 'SLEDGE', 'June')
(229, 4, 'TAMARA', 'NGUYEN', 'June')
(153, 4, 'SUZANNE', 'NICHOLS', 'June')
(599, 4, 'AUSTIN', 'CINTRON', 'June')
(228, 4, 'ALLISON', 'STANLEY', 'June')
(361, 4, 'LAWRENCE', 'LAWTON', 'June')
(137, 4, 'RHONDA', 'KENNEDY', 'June')
(40, 4, 'AMANDA', 'CARTER', 'June')
(74, 4, 'DENISE', 'KELLY', 'June')
(559, 4, 'EVERETT', 'BANDA', 'June')
(318, 4, 'BRIAN', 'WYMAN', 'June')
(285, 3, 'MIRIAM', 'MCKINNEY', 'June')
(323, 3, 'MATTHEW', 'MAHAN', 'June')
(284, 3, 'SONIA', 'GREGORY', 'June')
(512, 3, 'CECIL', 'VINES', 'June')
(119, 3, 'SHERRY', 'MARSHALL', 'June')
(432, 3, 'EDWIN', 'BURK', 'June')
(334, 3, 'RAYMOND', 'MCWHORTER', 'June')
(244, 3, 'VIOLA', 'HANSON', 'June')
(291, 3, 'TONI', 'HOLT', 'June')
(402, 3, 'LUIS', 'YANEZ', 'June')
(238, 3, 'NELLIE', 'GARRETT', 'June')
(398, 3, 'ANTONIO', 'MEEK', 'June')
(529, 3, 'ERIK', 'GUILLEN', 'June')
(141, 3, 'DEBBIE', 'REYES', 'June')
(470, 3, 'GORDON', 'ALLARD', 'June')
(59, 3, 'CHERYL', 'MURPHY', 'June')
(135, 3, 'JUANITA', 'MASON', 'June')
(530, 3, 'DARRYL', 'ASHCRAFT', 'June')
(214, 3, 'KRISTIN', 'JOHNSTON', 'June')
(539, 3, 'MATHEW', 'BOLIN', 'June')
(127, 3, 'ELAINE', 'STEVENS', 'June')
(449, 3, 'OSCAR', 'AQUINO', 'June')
(8, 3, 'SUSAN', 'WILSON', 'June')
(524, 3, 'JARED', 'ELY', 'June')
(507, 3, 'EDGAR', 'RHOADS', 'June')
(313, 3, 'DONALD', 'MAHON', 'June')
(138, 3, 'HAZEL', 'WARREN', 'June')
(217, 3, 'AGNES', 'BISHOP', 'June')
(548, 3, 'ALLAN', 'CORNISH', 'June')
(269, 3, 'CASSANDRA', 'WALTERS', 'June')
(344, 3, 'HENRY', 'BILLINGSLEY', 'June')
(276, 3, 'BRANDY', 'GRAVES', 'June')
(353, 3, 'JONATHAN', 'SCARBOROUGH', 'June')
(115, 3, 'WENDY', 'HARRISON', 'June')
(400, 3, 'BRYAN', 'HARDISON', 'June')
(396, 3, 'EARL', 'SHANKS', 'June')
(245, 3, 'COURTNEY', 'DAY', 'June')
(379, 3, 'CARLOS', 'COUGHLIN', 'June')
(252, 3, 'MATTIE', 'HOFFMAN', 'June')
(375, 3, 'AARON', 'SELBY', 'June')
(243, 3, 'LYDIA', 'BURKE', 'June')
(199, 3, 'BETH', 'FRANKLIN', 'June')
(356, 3, 'GERALD', 'FULTZ', 'June')
(520, 3, 'MITCHELL', 'WESTMORELAND', 'June')
(331, 3, 'ERIC', 'ROBERT', 'June')
(167, 3, 'SALLY', 'PIERCE', 'June')
(591, 3, 'KENT', 'ARSENAULT', 'June')
(224, 3, 'PEARL', 'GARZA', 'June')
(88, 3, 'BONNIE', 'HUGHES', 'June')
(218, 3, 'VERA', 'MCCOY', 'June')
(565, 3, 'JAIME', 'NETTLES', 'June')
(11, 3, 'LISA', 'ANDERSON', 'June')
(575, 3, 'ISAAC', 'OGLESBY', 'June')
(172, 3, 'BERNICE', 'WILLIS', 'June')
(536, 3, 'FERNANDO', 'CHURCHILL', 'June')
(37, 3, 'PAMELA', 'BAKER', 'June')
(272, 3, 'KAY', 'CALDWELL', 'June')
(513, 3, 'DUANE', 'TUBBS', 'June')
(311, 3, 'PAUL', 'TROUT', 'June')
(348, 3, 'ROGER', 'QUINTANILLA', 'June')
(296, 3, 'RAMONA', 'HALE', 'June')
(557, 3, 'FELIX', 'GAFFNEY', 'June')
(421, 3, 'LEE', 'HAWKS', 'June')
(502, 3, 'BRETT', 'CORNWELL', 'June')
(164, 3, 'JOANN', 'GARDNER', 'June')
(582, 3, 'ANDY', 'VANHORN', 'June')
(258, 3, 'MYRTLE', 'FLEMING', 'June')
(385, 3, 'PHILLIP', 'HOLM', 'June')
(389, 3, 'ALAN', 'KAHN', 'June')
(118, 3, 'KIM', 'CRUZ', 'June')
(462, 3, 'WARREN', 'SHERROD', 'June')
(105, 3, 'DAWN', 'SULLIVAN', 'June')
(351, 3, 'JACK', 'FOUST', 'June')
(578, 3, 'WILLARD', 'LUMPKIN', 'June')
(301, 3, 'ROBERT', 'BAUGHMAN', 'June')
(553, 3, 'MAX', 'PITT', 'June')
(206, 3, 'TERRI', 'VASQUEZ', 'June')
(71, 3, 'KATHY', 'JAMES', 'June')
(47, 3, 'FRANCES', 'PARKER', 'June')
(572, 3, 'SIDNEY', 'BURLESON', 'June')
(34, 3, 'REBECCA', 'SCOTT', 'June')
(519, 3, 'RON', 'DELUCA', 'June')
(581, 3, 'VIRGIL', 'WOFFORD', 'June')
(154, 3, 'MICHELE', 'GRANT', 'June')
(411, 3, 'NORMAN', 'CURRIER', 'June')
(346, 3, 'ARTHUR', 'SIMPKINS', 'June')
(265, 3, 'JENNIE', 'TERRY', 'June')
(90, 3, 'RUBY', 'WASHINGTON', 'June')
(97, 3, 'ANNIE', 'RUSSELL', 'June')
(92, 3, 'TINA', 'SIMMONS', 'June')
(503, 3, 'ANGEL', 'BARCLAY', 'June')
(17, 3, 'DONNA', 'THOMPSON', 'June')
(342, 3, 'HAROLD', 'MARTINO', 'June')
(58, 3, 'JEAN', 'BELL', 'June')
(240, 3, 'MARLENE', 'WELCH', 'June')
(78, 3, 'LORI', 'WOOD', 'June')
(251, 3, 'VICKIE', 'BREWER', 'June')
(437, 3, 'RANDALL', 'NEUMANN', 'June')
(414, 3, 'VINCENT', 'RALSTON', 'June')
(317, 3, 'EDWARD', 'BAUGH', 'June')
(160, 3, 'ERIN', 'DUNN', 'June')
(372, 3, 'STEVE', 'MACKENZIE', 'June')
(597, 3, 'FREDDIE', 'DUGGAN', 'June')
(577, 3, 'CLIFTON', 'MALCOLM', 'June')
(579, 3, 'DARYL', 'LARUE', 'June')
(185, 3, 'ROBERTA', 'HARPER', 'June')
(408, 3, 'MANUEL', 'MURRELL', 'June')
(15, 3, 'HELEN', 'HARRIS', 'June')
(325, 3, 'TIMOTHY', 'BUNN', 'June')
(80, 3, 'MARILYN', 'ROSS', 'June')
(280, 3, 'TRACEY', 'BARRETT', 'June')
(19, 3, 'RUTH', 'MARTINEZ', 'June')
(420, 3, 'JACOB', 'LANCE', 'June')
(81, 3, 'ANDREA', 'HENDERSON', 'June')
(418, 3, 'JEFF', 'EAST', 'June')
(453, 3, 'CALVIN', 'MARTEL', 'June')
(483, 3, 'VERNON', 'CHAPA', 'June')
(424, 3, 'KYLE', 'SPURLOCK', 'June')
(595, 2, 'TERRENCE', 'GUNDERSON', 'June')
(306, 2, 'CHARLES', 'KOWALSKI', 'June')
(210, 2, 'ELLA', 'OLIVER', 'June')
(376, 2, 'RANDY', 'GAITHER', 'June')
(102, 2, 'CRYSTAL', 'FORD', 'June')
(409, 2, 'RODNEY', 'MOELLER', 'June')
(586, 2, 'KIRK', 'STCLAIR', 'June')
(509, 2, 'RAUL', 'FORTIER', 'June')
(142, 2, 'APRIL', 'BURNS', 'June')
(560, 2, 'JORDAN', 'ARCHULETA', 'June')
(464, 2, 'JEROME', 'KENYON', 'June')
(179, 2, 'DANA', 'HART', 'June')
(33, 2, 'ANNA', 'HILL', 'June')
(64, 2, None, None, 'June')
(480, 2, 'COREY', 'HAUSER', 'June')
(222, 2, 'DELORES', 'HANSEN', 'June')
(51, 2, 'ALICE', 'STEWART', 'June')
(300, 2, 'JOHN', 'FARNSWORTH', 'June')
(469, 2, 'WESLEY', 'BULL', 'June')
(366, 2, 'BRANDON', 'HUEY', 'June')
(312, 2, 'MARK', 'RINEHART', 'June')
(584, 2, 'SALVADOR', 'TEEL', 'June')
(435, 2, 'RICKY', 'SHELBY', 'June')
(569, 2, 'DAVE', 'GARDINER', 'June')
(373, 2, 'LOUIS', 'LEONE', 'June')
(60, 2, 'MILDRED', 'BAILEY', 'June')
(281, 2, 'LEONA', 'OBRIEN', 'June')
(355, 2, 'TERRY', 'GRISSOM', 'June')
(235, 2, 'JACKIE', 'LYNCH', 'June')
(175, 2, 'ANNETTE', 'OLSON', 'June')
(563, 2, 'KEN', 'PREWITT', 'June')
(69, 2, 'JUDY', 'GRAY', 'June')
(518, 2, 'GABRIEL', 'HARDER', 'June')
(314, 2, 'GEORGE', 'LINTON', 'June')
(441, 2, 'MARIO', 'CHEATHAM', 'June')
(232, 2, 'CONSTANCE', 'REID', 'June')
(121, 2, 'JOSEPHINE', 'GOMEZ', 'June')
(596, 2, 'ENRIQUE', 'FORSYTHE', 'June')
(131, 2, 'MONICA', 'HICKS', 'June')
(488, 2, 'SHANE', 'MILLARD', 'June')
(73, 2, 'BEVERLY', 'BROOKS', 'June')
(485, 2, 'CLYDE', 'TOBIAS', 'June')
(48, 2, 'ANN', 'EVANS', 'June')
(286, 2, 'VELMA', 'LUCAS', 'June')
(532, 2, 'NEIL', 'RENNER', 'June')
(159, 2, 'JILL', 'HAWKINS', 'June')
(407, 2, 'DALE', 'RATCLIFF', 'June')
(535, 2, 'JAVIER', 'ELROD', 'June')
(324, 2, 'GARY', 'COY', 'June')
(321, 2, 'KEVIN', 'SCHULER', 'June')
(117, 2, 'EDITH', 'MCDONALD', 'June')
(474, 2, 'DUSTIN', 'GILLETTE', 'June')
(521, 2, 'ROLAND', 'SOUTH', 'June')
(397, 2, 'JIMMY', 'SCHRADER', 'June')
(223, 2, 'MELINDA', 'FERNANDEZ', 'June')
(161, 2, 'GERALDINE', 'PERKINS', 'June')
(99, 2, 'EMILY', 'DIAZ', 'June')
(415, 2, 'GLENN', 'PULLEN', 'June')
(528, 2, 'CLAUDE', 'HERZOG', 'June')
(337, 2, 'JERRY', 'JORDON', 'June')
(184, 2, 'VIVIAN', 'RUIZ', 'June')
(541, 2, 'DARREN', 'WINDHAM', 'June')
(165, 2, 'LORRAINE', 'STEPHENS', 'June')
(169, 2, None, None, 'June')
(248, 2, 'CAROLINE', 'BOWMAN', 'June')
(551, 2, 'CLAYTON', 'BARBEE', 'June')
(274, 2, 'NAOMI', 'JENNINGS', 'June')
(170, 2, 'BEATRICE', 'ARNOLD', 'June')
(263, 2, 'HILDA', 'HOPKINS', 'June')
(413, 2, 'MARVIN', 'YEE', 'June')
(65, 2, 'ROSE', 'HOWARD', 'June')
(93, 2, 'PHYLLIS', 'FOSTER', 'June')
(145, 2, 'LUCILLE', 'HOLMES', 'June')
(106, 2, 'CONNIE', 'WALLACE', 'June')
(552, 2, 'HUGH', 'WALDROP', 'June')
(219, 2, 'WILLIE', 'HOWELL', 'June')
(128, 2, 'MARJORIE', 'TUCKER', 'June')
(257, 2, 'MARSHA', 'DOUGLAS', 'June')
(41, 2, 'STEPHANIE', 'MITCHELL', 'June')
(542, 2, 'LONNIE', 'TIRADO', 'June')
(458, 2, 'LLOYD', 'DOWD', 'June')
(567, 2, 'ALFREDO', 'MCADAMS', 'June')
(180, 2, 'STACY', 'CUNNINGHAM', 'June')
(504, 2, 'NATHANIEL', 'ADAM', 'June')
(211, 2, 'STACEY', 'MONTGOMERY', 'June')
(294, 2, 'SHELLY', 'WATTS', 'June')
(399, 2, 'DANNY', 'ISOM', 'June')
(482, 2, None, None, 'June')
(79, 2, 'RACHEL', 'BARNES', 'June')
(461, 2, 'DEREK', 'BLAKELY', 'June')
(9, 2, 'MARGARET', 'MOORE', 'June')
(150, 2, 'DANIELLE', 'DANIELS', 'June')
(501, 2, 'RUBEN', 'GEARY', 'June')
(226, 2, 'MAUREEN', 'LITTLE', 'June')
(370, 1, 'WAYNE', 'TRUONG', 'June')
(168, 1, 'REGINA', 'BERRY', 'June')
(369, 1, 'FRED', 'WHEAT', 'June')
(302, 1, 'MICHAEL', 'SILVERMAN', 'June')
(394, 1, 'CHRIS', 'BROTHERS', 'June')
(14, 1, 'BETTY', 'WHITE', 'June')
(460, 1, 'LEON', 'BOSTIC', 'June')
(288, 1, 'BOBBIE', 'CRAIG', 'June')
(580, 1, 'ROSS', 'GREY', 'June')
(110, 1, 'TIFFANY', 'JORDAN', 'June')
(43, 1, 'CHRISTINE', 'ROBERTS', 'June')

In [25]:
df2 =pd.read_sql_query(query,db)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

#### EX 3-Write a function that checks if customer borrowed more or less films in the month of June as compared to May.

In [27]:
# merging both datas together
df = df1.merge(df2, how = "outer")

In [29]:
df.groupby('rental_month')['no_of_rentals'].sum()

rental_month
June    2311
May     1156
Name: no_of_rentals, dtype: int64

Customers borrowed more in month of June as compared to May.